.profile {
    display: flex;
    flex-direction: row;
    gap: 38px;
    align-items: center;
}

.iconWrapper {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 100%;
}

.iconWrapper > img {
    width: 100%;
    height: 100%;
}

.profileInfo > .username {
    color: white;
    font-size: 40px;
}

.profileInfo > .email {
    color: rgba(255, 255, 255, .8);
    font-size: 32px;
    font-weight: 400;
}

.profileInfo > .date {
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-top: 18px;
    font-family: "Montserrat";
}

.grid {
    display: grid;
    grid-template-areas: 
        "a b"
        "a c";
    gap: 27px;
    grid-template-columns: 400px 1144px;
    margin-top: 40px;
}

.statistics {
    border-radius: 40px;
    z-index: 1;
    padding: 40px;
    grid-area: a;
}

.statistics > .title {
    color: white;
    font-family: "Montserrat";
    font-size: 34px;
}

.statisticItemsContainer {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.statisticItem > p:nth-child(1) {
    font-size: 28px;
    color: rgba(255, 255, 255, .8);
    font-family: "Montserrat";
    font-weight: 400;
}

.statisticItem > p:nth-child(2) {
    font-size: 30px;
    color: white;
}

.preferences {
    border-radius: 40px;
    z-index: 1;
    padding: 40px;
    grid-area: b;
}

.preferences > .title {
    color: white;
    font-family: "Montserrat";
    font-size: 34px;
}

.preferencesGrid {
    display: grid;
    grid-template-columns: repeat(2, 482px);
    row-gap: 25px;
    column-gap: 100px;
    margin-top: 40px;
}

.preferencesItem > .iconsContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 12px;
}

.preferencesItem > p {
    font-size: 34px;
    color: white;
    font-family: "Montserrat";
}

.preferencesItem .iconWrapper {
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.preferencesItem .iconWrapper__round {
    border-radius: 100%;
}

.preferencesItem .iconWrapper > img {
    width: 100%;
    height: 100%;
}

.aboutMe {
    border-radius: 40px;
    z-index: 1;
    padding: 40px;
    grid-area: c;
}

.aboutMe > .title {
    font-size: 34px;
    color: white;
    font-family: "Montserrat";
}

.aboutMe > .text {
    font-size: 28px;
    color: white;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 24px;
}